nav ul,
nav ul a {
  background-color: #61dafb;
  width: 100%;
  text-align: left;
  list-style: none;
  color: #fff;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
}

#countrylist {
  list-style: none;
  width: 33vh;
  text-align: center;
}

#countrylist li,
#countrylist li a {
  border: 1px solid #ccc;
  padding: 15px;
}
